.chat-box {
    height: 300px;
    width: 300px;
    position: fixed;
    bottom: 0;
	right:30px;
    z-index: 3;
	overflow:hidden;
	border: 1px solid #aaa;
    border-bottom: 0;
    border-radius: 5px 5px 0px 0px;
}
.chat-box .chatTitle	{
	padding: 4px 10px;
    height: 35px;
    border-bottom: 1px solid #aaa;
	background-color: #1ab394;
	color:#fff;
}

.chatTitle h2	{
	margin:0;
	font-weight:500;
}
.chat-box .message-box {
    width: 100%;
/*    border-radius: 5px 5px 0px 0px;	*/
}
.chat-box .message-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 230px;
    overflow-y: auto;
    background-color: #fff;
}
.chat-box .message-box ul li.message {
    width: 100%;
    margin: 0;
    display: block;
    padding: 5px 10px;
	border-radius:0;
	border:0;
    font-size: 14px;
}
.chat-box .message-box ul li:nth-child(odd) {
    background: #eae9e9;
}
.chat-box .message-box ul li:nth-child(even) {
    background: #f7f6f6;
}
.chat-box form {
    border-top: 1px solid #aaa;
    display: inline-block;
    width: 100%;
    height: 35px;
}

.chat-box input#m {
    padding: 10px;
    font-size: 14px;
    background: #fff;
    border: 0;
	border-radius:0;
	display:inline-block;
    width: 80%;
}
.chat-box button {
    font-size: 12px;
    border: 0;
	border-radius:0;
	height:100%;
    display:inline-block;
    width: 20%;
}
.chatTitle.newMsg	{
	background-color:#4d4d4d !important;
}

.newMsg	{
	color:#05ce7b !important;
	font-weight:500;
}

.displaynone{
    display: none;
 }

.displayblock{
   display: block;
}